<footer>
  	<div class="container">
      <ul class="nav-links row">
        <li>&copy; 2017 Deion O'Garro</li>
        <li>About</li>
        <li>Support</li>
        <li>Contact</li>
      </ul>
      <!--</ul>
  			<ul class="nav nav-pills nav-justified">
  				<li><a href="http://www.zillow.com/" >
  					<img class="img-responsive" src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/logos/Zillowlogo_150x40_rounded.gif" width="150" height="40" alt="Zillow Real Estate Search" />
  					</a>
   				</li>
   				<li><a href="http://www.yelp.com/" ><img class="img-responsive" src="http://s3-media3.ak.yelpcdn.com/assets/2/www/img/2d7ab232224f/developers/yelp_logo_100x50.png" alt="Yelp Logo" />
   					</a>
  				</li>
  				<li><a href="http://www.wolframalpha.com/" >
  						<img class="img-responsive" src="http://www.wolframalpha.com/images/homepage/wa-logo.png" />
  					</a>
  				</li>
  			</ul>-->
  	</div>
  </footer>
