/* _variables */

/* Colors */
$redColor: #FF0000;
$lightRed: #E97171;
$mediumRed: #D14545;
$darkRed: #7e1515;
$orangeColor: #FFA500;
$goldColor: #EED815;
$lightGrey: #eeeeee;
$white: #ffffff;
$tealColor: #008080;

/* Padding */
$logoPadding: 0 0 5px 20px;
$rightNavBarPadding: 10px 0;

/* Borders */
$thickTopBorder: 5px solid;

/* Fonts */
$h1 : 'Headland One', serif;

/* Navigation */
$navFontSize: 1.1em;
$navFontColor: $white;
$navFontStyle: small-caps;
$navBottom: -1px;

/* Errors */
$errorColor: $redColor;
