<div class="bt-menu" (click)="toggleCollapse()" (mouseleave)="toggleCollapse(false)">
  <div class="ico-menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <span>Menu</span>

  <!--<button (click)="toggleCollapse()" class="button button-large" type="button">
      Menu
  </button>-->

  <div class="collapse show" [@collapse]="collapse">
      <a class="dropdown-item" href="#">Login</a>
      <a class="dropdown-item" href="#">Support</a>
      <a class="dropdown-item" href="#">Contact</a>
  </div>
</div>