<div class="bt-menu" (click)="toggleCollapse()" (mouseleave)="toggleCollapse(false)">
  <div class="ico-menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <span>Menu</span>

  <div class="collapse show" [@collapse]="collapse">
      <a class="dropdown-item" href="#">About</a>
      <a class="dropdown-item" href="#">Support</a>
      <a class="dropdown-item" routerLink="/login" routerLinkActive="active">Log In</a>
      <a class="dropdown-item" routerLink="/register" routerLinkActive="active">Sign Up</a>
  </div>
</div>
