<section>
  <div class="jumbotron">

    <div class="container intro">
      <h1>Find Where's Right For You</h1>
      <ul>
        <li><h3>Simple Data.</h3></li>
        <li><h3>Get The Insight You Care About.</h3></li>
      </ul><br/>

      <span id="starter-link">
      <a routerLink="/factors" routerLinkActive="active" class="btn btn-primary btn-lg btn-start" role="button">Get Started</a>
    </span><br/>
    </div>

  </div>

  <div class="divider-l"></div>
  <div class="divider-m"></div>
  <p>IdealCity uses simple charts and graphics to make it easier to compare cities you're interested in.</p>
  <p>Customize your results and find the place that fits you.</p>

  <div class="container img-cont">
    <div class="image-holder row">
      <div class="col-md-4"><img src="../../assets/bars.png" /></div>
      <div class="col-md-4"><img src="../../assets/City-Map-256.png" /></div>
      <div class="col-md-4"><img src="../../assets/line_chart.png" /></div>
    </div>
  </div>
</section>
