// City list scss
@import '~sass/variables';

.city-selection {
    h4 {
        color: $white;
        padding: 20px;
        background-color: $yellowGreen;
    }
}

.removeAll-link {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    font-size: 12px;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.selected-cities {
    margin: 0 0 2em 0;
    list-style: none;
    padding: 0;

    li {
        cursor: pointer;
        position: relative;
        left: 0;
        background-color: #eeeeee;
        margin-left: .5em;
        margin-bottom: 4px;
        border-radius: 4px;
        font-family: sans-serif;

        &:hover {
            color: #607D8B;
            background-color: #dddddd;
            left: .1em;
        }
    }

    .text {
        position: relative;
        top: -3px;
    }

    .badge {
        display: inline-block;
        font-size: small;
        color: $white;
        padding: 0.8em 0.7em 0 0.7em;
        background-color: #607D8B;
        line-height: 1em;
        left: -1px;
        top: -4px;
        min-width: 34px;
        height: 34px;
        margin-right: .8em;
        border-radius: 4px 0 0 4px;
    }
}